In [9]:
import pandas as pd
import numpy as np 
stocks = pd.read_csv("data\MRESSTK_E011ED9F85D_(1).csv",encoding='GB2312')
stocks.head()

,股票代码_Stkcd,最新股票名称_Lstknm,证监会行业门类代码_Csrciccd1,日期_Date,收盘价_ClPr,成交量_Trdvol,成交金额_Trdsum,总股数月换手率(%)_MonFulTurnR,流通股月换手率(%)_MonTrdTurnR,总股数平均日换手率(%)_AvgDFulTurnR,...,报表类型_Reporttype,每股收益(摊薄)(元/股)_EPS,净资产收益率(摊薄)_ROE,每股公积金(元/股)_AccumFundPS,每股营业利润(元/股)_OpPrfPS,每股净资产(元/股)_NAPS,调整后每股净资产(元/股)_NAPSadj,每股营业收入(元/股)_IncomePS,每股经营活动现金流量净额(元/股)_NCFfropePS,Unnamed: 35
0,1,平安银行,J,2015-01-30,13.93,3.094212e+09,4.586464e+10,27.0831,31.4557,1.3542,...,Q3,1.37,12.38,4.96,1.82,11.09,3.25,4.78,-0.45,NaN
1,1,平安银行,J,2015-02-27,13.99,1.301651e+09,1.804355e+10,11.3931,13.2326,0.7595,...,Q3,1.37,12.38,4.96,1.82,11.09,3.25,4.78,-0.45,NaN
2,1,平安银行,J,2015-03-31,15.75,3.759246e+09,5.615474e+10,32.9040,38.2164,1.4956,...,Q4,1.73,15.12,5.13,2.30,11.46,3.25,6.43,2.22,NaN
3,1,平安银行,J,2015-04-30,16.70,5.876838e+09,9.895508e+10,45.3938,52.7227,2.1616,...,Q1,0.49,4.12,4.27,0.54,9.97,3.25,1.51,0.84,NaN
4,1,平安银行,J,2015-05-29,15.32,4.005415e+09,6.397519e+10,28.6286,33.9325,1.4314,...,Q1,0.49,4.12,4.10,0.52,9.97,3.25,1.44,0.84,NaN

In [12]:
stocks = stocks.drop(columns=['Unnamed: 35'])
stocks['label'] = 0
stocks = stocks.sort_values(['股票代码_Stkcd','日期_Date'])

In [13]:
stocks.head()

,股票代码_Stkcd,最新股票名称_Lstknm,证监会行业门类代码_Csrciccd1,日期_Date,收盘价_ClPr,成交量_Trdvol,成交金额_Trdsum,总股数月换手率(%)_MonFulTurnR,流通股月换手率(%)_MonTrdTurnR,总股数平均日换手率(%)_AvgDFulTurnR,...,报表类型_Reporttype,每股收益(摊薄)(元/股)_EPS,净资产收益率(摊薄)_ROE,每股公积金(元/股)_AccumFundPS,每股营业利润(元/股)_OpPrfPS,每股净资产(元/股)_NAPS,调整后每股净资产(元/股)_NAPSadj,每股营业收入(元/股)_IncomePS,每股经营活动现金流量净额(元/股)_NCFfropePS,label
0,1,平安银行,J,2015-01-30,13.93,3.094212e+09,4.586464e+10,27.0831,31.4557,1.3542,...,Q3,1.37,12.38,4.96,1.82,11.09,3.25,4.78,-0.45,0
1,1,平安银行,J,2015-02-27,13.99,1.301651e+09,1.804355e+10,11.3931,13.2326,0.7595,...,Q3,1.37,12.38,4.96,1.82,11.09,3.25,4.78,-0.45,0
2,1,平安银行,J,2015-03-31,15.75,3.759246e+09,5.615474e+10,32.9040,38.2164,1.4956,...,Q4,1.73,15.12,5.13,2.30,11.46,3.25,6.43,2.22,0
3,1,平安银行,J,2015-04-30,16.70,5.876838e+09,9.895508e+10,45.3938,52.7227,2.1616,...,Q1,0.49,4.12,4.27,0.54,9.97,3.25,1.51,0.84,0
4,1,平安银行,J,2015-05-29,15.32,4.005415e+09,6.397519e+10,28.6286,33.9325,1.4314,...,Q1,0.49,4.12,4.10,0.52,9.97,3.25,1.44,0.84,0

In [14]:
stocks.groupby('股票代码_Stkcd')
stocks['label'] = stocks['收盘价_ClPr']>stocks['收盘价_ClPr'].shift(1)

In [15]:
stocks.head()

,股票代码_Stkcd,最新股票名称_Lstknm,证监会行业门类代码_Csrciccd1,日期_Date,收盘价_ClPr,成交量_Trdvol,成交金额_Trdsum,总股数月换手率(%)_MonFulTurnR,流通股月换手率(%)_MonTrdTurnR,总股数平均日换手率(%)_AvgDFulTurnR,...,报表类型_Reporttype,每股收益(摊薄)(元/股)_EPS,净资产收益率(摊薄)_ROE,每股公积金(元/股)_AccumFundPS,每股营业利润(元/股)_OpPrfPS,每股净资产(元/股)_NAPS,调整后每股净资产(元/股)_NAPSadj,每股营业收入(元/股)_IncomePS,每股经营活动现金流量净额(元/股)_NCFfropePS,label
0,1,平安银行,J,2015-01-30,13.93,3.094212e+09,4.586464e+10,27.0831,31.4557,1.3542,...,Q3,1.37,12.38,4.96,1.82,11.09,3.25,4.78,-0.45,False
1,1,平安银行,J,2015-02-27,13.99,1.301651e+09,1.804355e+10,11.3931,13.2326,0.7595,...,Q3,1.37,12.38,4.96,1.82,11.09,3.25,4.78,-0.45,True
2,1,平安银行,J,2015-03-31,15.75,3.759246e+09,5.615474e+10,32.9040,38.2164,1.4956,...,Q4,1.73,15.12,5.13,2.30,11.46,3.25,6.43,2.22,True
3,1,平安银行,J,2015-04-30,16.70,5.876838e+09,9.895508e+10,45.3938,52.7227,2.1616,...,Q1,0.49,4.12,4.27,0.54,9.97,3.25,1.51,0.84,True
4,1,平安银行,J,2015-05-29,15.32,4.005415e+09,6.397519e+10,28.6286,33.9325,1.4314,...,Q1,0.49,4.12,4.10,0.52,9.97,3.25,1.44,0.84,False

In [16]:
stocks.to_csv('data/dataset.csv',index = None)